/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
}

/* Logo Decaration */

.logo {
    height: 75px;
    border-radius: 10px;
    margin-top: 10px;
    
    
}

nav h1 {
    font-size: 35px;
    align-items: center;
    
}

.brand-name {
    color: white;
}
